<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>WebLibrary</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>home.htm</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Inscription</display-name>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>control.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>control.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>control.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rayon</display-name>
    <servlet-name>Rayon</servlet-name>
    <servlet-class>control.Rayon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rayon</servlet-name>
    <url-pattern>/rayon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ouvrage</display-name>
    <servlet-name>Ouvrage</servlet-name>
    <servlet-class>control.Ouvrage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ouvrage</servlet-name>
    <url-pattern>/ouvrage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exemplaire</display-name>
    <servlet-name>Exemplaire</servlet-name>
    <servlet-class>control.Exemplaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exemplaire</servlet-name>
    <url-pattern>/exemplaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Emprunter</display-name>
    <servlet-name>Emprunter</servlet-name>
    <servlet-class>control.Emprunter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emprunter</servlet-name>
    <url-pattern>/emprunter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Restituer</display-name>
    <servlet-name>Restituer</servlet-name>
    <servlet-class>control.Restituer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Restituer</servlet-name>
    <url-pattern>/restituer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Acquisition</display-name>
    <servlet-name>Acquisition</servlet-name>
    <servlet-class>control.Acquisition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Acquisition</servlet-name>
    <url-pattern>/acquisition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Penaliser</display-name>
    <servlet-name>Penaliser</servlet-name>
    <servlet-class>control.Penaliser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Penaliser</servlet-name>
    <url-pattern>/penaliser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Prolonger</display-name>
    <servlet-name>Prolonger</servlet-name>
    <servlet-class>control.Prolonger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prolonger</servlet-name>
    <url-pattern>/prolonger</url-pattern>
  </servlet-mapping>
 
</web-app>